body {
    background-image: radial-gradient(circle at 30% 94%, rgba(113,114,224, 0.06) 0%, rgba(113,114,224, 0.06) 50%,rgba(21, 21, 21,0.06) 50%, rgba(21, 21, 21,0.06) 100%),radial-gradient(circle at 59% 19%, rgba(39,77,125, 0.06) 0%, rgba(39,77,125, 0.06) 50%,rgba(87, 87, 87,0.06) 50%, rgba(87, 87, 87,0.06) 100%),radial-gradient(circle at 7% 11%, rgba(148, 148, 148,0.06) 0%, rgba(148, 148, 148,0.06) 50%,rgba(79,107,187, 0.06) 50%, rgba(79,107,187, 0.06) 100%),linear-gradient(90deg, rgb(189, 189, 189),rgb(205, 205, 205));
}

.logo{
    width: 150px;
}


.btnNav {
    border: 0.1px solid #F8F0E5;
}
.btnNav:hover{
    background-color: #492E87;
    color: #eeeaf6;
}
.banner {
    box-shadow: rgba(95, 95, 203, 0.375) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}
.imgBanner{
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.parrafoBanner{
    color: #F8F0E5;
}
.cardText{
    text-align: center;

}

.imgCard {
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

.hCard{
    font-size: 3rem;
}